<%= stylesheet_link_tag "mainPage" %>

<footer>
<div class="footer-1" id="links">
    <div class="footer-left">
  <div class="footer-img">
      <%=image_tag 'logoT.png' , height:80 %>
  </div>
  <div class="footer-address">
      <h5 class="fw-bold">NITK CAMPUS</h5>
      <p>NH 66, Srinivasnagar</p>
      <p>Surathkal, Mangalore</p>
      <p>Karnataka - 575025</p>
  </div>
    </div>
    <div class="footer-middle">
  <h5 class="fw-bold">Quick Links</h5>
  <p><a href="#">Brochure</a></p>
  <%=link_to 'Instrument List',mainpage_instrument_list_path%>
    </div>
    <div class="footer-right">
  <h5 class="fw-bold">General Links</h5>
  <p><%= link_to "Feedbacks", new_feedback_path ,class:"nav-link active nav-btn model-element" %></p>
    </div>
    <div class="footer-social">
  <h5 class="fw-bold">Social Links</h5>
  <div class="social-icons">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true" height="12px"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </div>
    </div>
</div>
<hr>
<p class="text-center">Copyright All Rights Reserved 2023. <%= link_to 'CRF Web Team', home_developer_path, id:"button" %></p>

</footer>
