<%= stylesheet_link_tag "paymentportal" %>
<%=render "partials/paymentNav" %>

<div class="container-payments">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>
        <%= link_to "Admin Panel",  mainportal_admindashboard_path, class:"btn btn-outline-warning mt-4 back-btn" %>


        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                 <%= link_to 'All Payments',payment_paymentExt_path,class:"nav-link active sidelink-wrap", id:"active-tab" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Manual Entry',payment_paymentExtM_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Update',payment_paymentExtU_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'completed',payment_paymentExtC_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">Payment Entry Console</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="debit-head">Organization</th>
                        <th scope="col" id="proforma-col">Profession</th>
                        <th scope="col" id="debit-head">Equipment</th>
                        <th scope="col" id="proforma-col">Action</th>
                    </tr>
                </thead>
                <tbody>
                          <% @equipment.where(dummy:'alloted',role:'external').each do |equipment|%>
                        <tr>
                          <th scope="row"><%= equipment.app_no%></th>
                          <td> <%= equipment.username%> </td>
                          <td> <%= equipment.orgname%> </td>
                          <td> <%= equipment.profesion%> </td>
                          <td> <%= equipment.equipname%> </td>

                          <td id="assign-btn">
                              <!-- Button trigger modal -->
                               <%= button_tag "Entry", type: "button", class: "btn btn-success", data: { bs_toggle: "modal", bs_target:"##{equipment.app_no}" }, id: "ani" %>
                               <div id="<%= equipment.app_no%>" class="modal">

     <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <h1 class="modal-title fs-5" id="staticBackdropLabel"> Payment Details</h1>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">

                                    <%= form_with(model:equipment ,local:true) do |form| %>
                                     <div class="input-group mb-3">
                                       <%= form.label :app_no, "Apllication No.", class:"input-group-text",id:"app"%>
                                       <%= form.text_field :app_no, class:"form-control", id:"app", placeholder: equipment.app_no , readonly: true%>
                                   </div>
                                   <div class="input-group mb-3">
                                     <%= form.label :username, "User Name", class:"input-group-text"%>
                                     <%= form.text_field :username, class:"form-control", id:"composition", placeholder:equipment.username, readonly: true%>
                                 </div>

                                   <div class="input-group mb-3">
                                   <%= form.label :innvoice_name, "Invoice Name", class:"input-group-text", for:"In_names"%>
                                   <%= form.text_field :invoice_name, class:"form-control", id:"In_name", value: equipment.username%>
                                 </div>

                                 <div class="input-group mb-3">
                                 <%= form.label :invoice_address, "Invoice Address", class:"input-group-text", for:"In_address"%>
                                 <%= form.text_field :invoice_address, class:"form-control", id:"In_address", value: equipment.org%>
                               </div>

                                 <div class="input-group mb-3">
                                 <%= form.label :invoice_gst, "Invoice Gst", class:"input-group-text", for:"In_gst"%>
                                 <%= form.text_field :invoice_gst, class:"form-control", id:"In_gst"%>
                               </div>

                                 <div class="input-group mb-3">
                                 <%= form.label :pay, "Amount Paid", class:"input-group-text", for:'amount-field'%>
                                 <%= form.text_field :pay, class:"form-control", id: 'amount-field'%>
                                 </div>

                                  <div class="input-group mb-3">
                                 <%= form.label :gst_rate, "Gst (%)", class:"input-group-text"%>
                                 <%= form.select(:sample, [18, 16, 0], {:include_blank => 'Choose...'},{ :class => 'form-select' ,id: 'gst-rate-field'}) %>


                                  <%= form.label :consultancy_rate, "Consultancy(%):", class:"input-group-text"%>
                                  <%= form.text_field :consultancy_rate, class:"form-control", id: 'consultancy-rate-field'%>
                                  </div>

                               <div class="input-group mb-3">
                               <%= form.label :testing, "Testing", class:"input-group-text", for:"testing"%>
                                <%= form.label :testing, "₹", class:"input-group-text", for:"testing"%>
                               <%= form.text_field :testing, class:"form-control", id: 'remaining-amount-field', readonly: true%>
                             </div>

                                <div class="input-group mb-3">
                                  <%= form.label :gst_applied, "GST", class:"input-group-text", for:"testing"%>
                                   <%= form.label :gst_applied, "₹", class:"input-group-text", for:"testing"%>
                                  <%= form.text_field :gst_applied, class:"form-control",  id: 'gst-amount-field', readonly: true %>

                                  <%= form.label :consulting, "Consultancy", class:"input-group-text", for:"testing"%>
                                   <%= form.label :consulting, "₹", class:"input-group-text", for:"testing"%>
                                  <%= form.text_field :consulting, class:"form-control", id: 'consultancy-amount-field', readonly: true %>

                                   </div>


                           </div>

                             <div class="input-group mb-3">
                               <%= form.label :state,'State',for:"state", class:"input-group-text"%>
                               <%= form.select(:state, ['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka',
                                'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
                                 'Uttarakhand', 'West Bengal', 'Andaman and Nicobar Islands', 'Chandigarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Lakshadweep', 'Delhi', 'Puducherry', 'Jammu and Kashmir', 'Ladakh'],
                                 {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "state"}) %>
                             </div>

                             <div class="input-group mb-3">
                             <%= form.label :date_of_depo, "Date of Deposit", class:"input-group-text", for:"date_of_depo"%>
                             <%= form.date_field :date_of_depo, class:"form-control", id:"date_of_depo"%>
                           </div>

                           <div class="input-group mb-3">
                           <%= form.label :dd_no, "UTR No/CHQ No/DD No:", class:"input-group-text", for:"dd_no"%>
                           <%= form.text_field :dd_no, class:"form-control", id:"dd_no"%>
                         </div>





                     <%= form.hidden_field :dummy, value: 'Proforma confirmed' %>


                       <div class="actions">
                         <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>

                       </div>
                     <% end %>
                   </div>
               </div>
           </div>

   </div>

                           </td>

                       </tr>
   <%end%>
                   </tbody>
               </table>

           </div>
           </div>




       </div>


   <script>
     // Get the modals and buttons
     var modal1 = document.getElementByClass("modal");
     var btn1 = document.getElementById("ani");

     // Add event listeners to the buttons
     btn1.addEventListener("click", function() {
       modal1.style.display = "block";
     });

     btn2.addEventListener("click", function() {
       modal2.style.display = "block";
     });

     // Close the modal when the user clicks anywhere outside of it
     window.addEventListener("click", function(event) {
       if (event.target == modal1) {
         modal1.style.display = "none";
       }
       if (event.target == modal2) {
         modal2.style.display = "none";
       }
     });
   </script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const amountField = document.getElementById('amount-field');
    const consultancyRateField = document.getElementById('consultancy-rate-field');
    const gstRateField = document.getElementById('gst-rate-field');
    const gstAmountField = document.getElementById('gst-amount-field');
    const consultancyAmountField = document.getElementById('consultancy-amount-field');
    const remainingAmountField = document.getElementById('remaining-amount-field');

    const calculateAmounts = () => {
      const amount = parseFloat(amountField.value);
      const consultancyRate = parseFloat(consultancyRateField.value);
      const gstRate = parseFloat(gstRateField.value);

      const gstAmount = (amount * gstRate) / (100 + gstRate);
      var consultancyAmount = ((amount - gstAmount) * consultancyRate) / 100;
      let remainingAmount;

      if (isNaN(consultancyAmount)) {
        remainingAmount = amount - gstAmount;
      } else if (isNaN(gstAmount)) {
        remainingAmount = amount - consultancyAmount;
      } else {
        remainingAmount = amount - gstAmount - consultancyAmount;
      }

      gstAmountField.value = gstAmount.toFixed(2);
      consultancyAmountField.value = consultancyAmount.toFixed(2);
      remainingAmountField.value = remainingAmount.toFixed(2);
    };

    amountField.addEventListener('input', calculateAmounts);
    consultancyRateField.addEventListener('input', calculateAmounts);
    gstRateField.addEventListener('input', calculateAmounts);
  });

</script>
