<%= stylesheet_link_tag "paymentportal" %>



<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'CRF Payment', payment_payment_path, class:'navbar-brand', id:'title' %>

        <div class="collapse navbar-collapse tab" id="btn-head">
            <ul class="navbar-nav">

                <li class="nav-item-tab">
                 <%= link_to 'Internal Proforma', payment_payment_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item-tab">
                        <%= link_to 'Proforma Confirmation',payment_proforma_confirmation_path,class:"nav-link active sidelink-wrap" %>
                </li>

                <li class="nav-item-tab">
                    <%= link_to 'Payment Confirmation',payment_paymentA_path,class:"nav-link active sidelink-wrap", id:"active-tab" %>
                </li>

                <li class="nav-item-tab">
                    <%= link_to 'Payment Completed',payment_payment_completed_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Manual Entry',payment_paymentM_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Update',payment_paymentU_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>


        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item" id="admin">
              <%= link_to 'Admin', mainportal_admindashboard_path,class:"btn btn-outline-primary" %>
              </li>
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark" style="text-align: center;">
      <div class="collapse navbar-collapse tab" id="btn-head">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'Department Operating Cost Completion', payment_paymentDc_path, class: "nav-link active sidelink-wrap" %>
          </li>
          <li class="nav-item">
            <%= link_to 'CPDA Fund Completion', payment_paymentCc_path, class: "nav-link active sidelink-wrap" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Student Contingency Completion', payment_paymentSc_path, class: "nav-link active sidelink-wrap" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Project Fund Completion', payment_paymentPc_path, class: "nav-link active sidelink-wrap" %>
          </li>
        </ul>
      </div>
    </nav>

</div>

        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="debit-head">Debit Head</th>
                        <th scope="col" id="amount">Amount</th>
                        <th scope="col" id="proforma-col">Complete</th>
                        <th scope="col" id="View">Block</th>
                        <th scope="col" id="clear">Unblock</th>
                    </tr>
                </thead>
                <tbody>
                   <% @equipment.where(dummy:'proforma_confirmed',role:'student').each do |equipment|%>
                                <tr>
                                  <th scope="row"><%=equipment.app_no %>	</th>
                                  <td> <%= equipment.username%> </td>
                                  <td> #TO BE UNDERSTOOD </td>

                                  <td>  <%= form_with(model: equipment,local:true) do |form| %>
                                  <%= form.hidden_field :dummy, value: 'payment_completed' %>
                                  <div class="actions">
                                  <%= form.submit "Complete", class:"btn btn-primary", id:"sbt" %>
                                  </div>
                                  <% end %>
                                  </td>


                                  <td>
                                  <%= form_with(model: equipment,local:true) do |form| %>
                                  <%= form.hidden_field :dummy, value: 'block' %>
                                  <div class="actions">
                                  <%= form.submit "Block", class:"btn btn-primary", id:"sbt" %>
                                  </div>
                                  <% end %>
                                  </td>

                                  <td>  <%= form_with(model: equipment,local:true) do |form| %>
                                  <%= form.hidden_field :dummy, value: 'done' %>
                                  <div class="actions">
                                  <%= form.submit "Unblock", class:"btn btn-primary", id:"sbt" %>
                                  </div>
                                  <% end %>
                                  </td>





                                         </tr>
                                  <%end%>
                                     </tbody>
                                  </table>

                                  </div>
                                  </div>


                                  </div>


                                  </div>
                                  <script>
                                  // Get the modals and buttons
                                  var modal1 = document.getElementByClass("modal");
                                  var btn1 = document.getElementById("ani");

                                  // Add event listeners to the buttons
                                  btn1.addEventListener("click", function() {
                                  modal1.style.display = "block";
                                  });

                                  btn2.addEventListener("click", function() {
                                  modal2.style.display = "block";
                                  });

                                  // Close the modal when the user clicks anywhere outside of it
                                  window.addEventListener("click", function(event) {
                                  if (event.target == modal1) {
                                  modal1.style.display = "none";
                                  }
                                  if (event.target == modal2) {
                                  modal2.style.display = "none";
                                  }
                                  });
                                  </script>
