<%= stylesheet_link_tag "paymentportal" %>
<%=render "partials/paymentNav" %>


<div class="container-payments">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>
        <%= link_to "Admin Panel",  mainportal_admindashboard_path, class:"btn btn-outline-warning mt-4 back-btn" %>


        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                 <%= link_to 'All Payments',payment_paymentExt_path,class:"nav-link active sidelink-wrap" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Manual Entry',payment_paymentExtM_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Update',payment_paymentExtU_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'completed',payment_paymentExtC_path,class:"nav-link active sidelink-wrap", id:"active-tab"  %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">Completed</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                      <th scope="col" id="Job-no">Job/BillNo:</th>
                        <th scope="col" id="application-no">ApplNo:</th>
                        <th scope="col" id="Equipment">Equipment</th>
                        <th scope="col" id="name">Invoice Name</th>
                        <th scope="col" id="address">Invoice Address</th>
                        <th scope="col" id="paid">Paid</th>
                        <th scope="col" id="GST">GST</th>
                        <th scope="col" id="Date">Date</th>
                        <th scope="col" id="View">View</th>
                    </tr>
                </thead>
                <tbody>
                          <% @equipment.where(dummy:'done', role: 'external').each do |equipment|%>
                        <tr>
                          <th scope="row">donno at present</th>
                          <td> <%= equipment.app_no%> </td>
                          <td> <%= equipment.equipname%> </td>'
                          <td> <%= equipment.innvoice_name%> </td>
                          <td> <%= equipment.invoice_address%> </td>
                          <td> <%= equipment.amount_paid%> </td>
                          <td> <%= equipment.gst%> </td>
                          <td> <%= equipment.date_of_depo%> </td>
                          <td> view </td>

                       </tr>
   <%end%>
                   </tbody>
               </table>

           </div>
           </div>


       </div>


   </div>
   <script>
     // Get the modals and buttons
     var modal1 = document.getElementByClass("modal");
     var btn1 = document.getElementById("ani");

     // Add event listeners to the buttons
     btn1.addEventListener("click", function() {
       modal1.style.display = "block";
     });

     btn2.addEventListener("click", function() {
       modal2.style.display = "block";
     });

     // Close the modal when the user clicks anywhere outside of it
     window.addEventListener("click", function(event) {
       if (event.target == modal1) {
         modal1.style.display = "none";
       }
       if (event.target == modal2) {
         modal2.style.display = "none";
       }
     });
   </script>
