<%= stylesheet_link_tag "paymentportal" %>
<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'CRF PAYMENT', payment_payment_path, class:'navbar-brand', id:'title' %>




        <div class="collapse navbar-collapse tab" id="btn-head">
            <ul class="navbar-nav">

                <li class="nav-item-tab">
                 <%= link_to 'Internal Proforma',payment_payment_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item-tab">
                        <%= link_to 'Proforma Confirmation',payment_proforma_confirmation_path,class:"nav-link active sidelink-wrap", id:"active-tab" %>
                </li>

                <li class="nav-item-tab">
                    <%= link_to 'Payment Confirmation',payment_paymentA_path,class:"nav-link active sidelink-wrap" %>
                </li>

                <li class="nav-item-tab">
                    <%= link_to 'Payment Completed',payment_payment_completed_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Manual Entry',payment_paymentM_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Update',payment_paymentU_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="btn-head-confirm">

            <ul class="navbar-nav ms-auto">
              <li class="nav-item" id="admin">
              <%= link_to 'Admin', mainportal_admindashboard_path,class:"btn btn-outline-primary" %>
              </li>
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>

    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
      <div class="collapse navbar-collapse tab" id="btn-head">
          <ul class="navbar-nav">
            <li class="nav-item">
                <%= link_to 'Department Operating Cost',payment_paymentD_path,class:"nav-link active sidelink-wrap" %>
            </li>
            <li class="nav-item">
                <%= link_to 'CPDA Fund',payment_paymentC_path,class:"nav-link active sidelink-wrap" %>
            </li>

            <li class="nav-item">
                <%= link_to 'Student Contingency',payment_paymentS_path,class:"nav-link active sidelink-wrap" %>
            </li>

            <li class="nav-item">
                <%= link_to 'Project Fund',payment_paymentP_path,class:"nav-link active sidelink-wrap" %>
            </li>
          </ul>
      </div>
    </nav>

</div>

                <div id="slot-details">
                <div>
                    <table class="table table-hover font-quicksand">
                        <thead>
                            <tr class="table-head font-unbounded">
                                <th scope="col" id="application-no">Appl No</th>
                                <th scope="col" id="name">Name</th>
                                <th scope="col" id="Performa_no">Perfoorma No</th>
                                <th scope="col" id="proforma-col">Proforma</th>
                                <th scope="col" id="send">Send</th>
                                <th scope="col" id="clear">Clear</th>

                            </tr>
                        </thead>
                        <tbody>

                                  <% @equipment.where(dummy:'generated',role:'student').each do |equipment|%>
                                  <tr>
                                    <th scope="row"><%=equipment.app_no %>	</th>
                                    <td> <%= equipment.username%> </td>
                                    <td> #TO BE UNDERSTOOD </td>
                                    <td><%= link_to "View", generate_pdf_path( id:equipment.id,format: :pdf), class:"btn btn-warning" %> </td>

                                    <td>  <%= form_with(model: equipment,local:true) do |form| %>
                                    <%= form.hidden_field :dummy, value: 'proforma_confirmed' %>
                                    <div class="actions">
                                    <%= form.submit "Send", class:"btn btn-danger"%>
                                    </div>
                                    <% end %>
                                    </td>

                                    <td>  <%= form_with(model: equipment,local:true) do |form| %>
                                     <%= form.hidden_field :dummy, value: 'alloted' %>
                                    <div class="actions">
                                      <%= form.submit "Clear", class:"btn btn-light" %>
                                   </div>
                                  <% end %>
                                 </td>

                                 </tr>
                          <%end%>
                             </tbody>
                          </table>

                          </div>
                          </div>


                          </div>


                          </div>
