<%= stylesheet_link_tag "mainPage" %>
<%# <%= render "import" %>
    <div id="navigation">
        <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid">
                <!--this appears after fire of media qyuery at 990px-->
                <a id="logo-up" class="navbar-brand" href="#">
                    <%= image_tag 'logoT.png' , height:75 %>
                </a>
            <button id="togle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse center" id="navbarSupportedContent">
              <ul class="navbar-nav ">
                <!--this disappears after fire of media qyuery at 990px-->
                <a id="logo-down" class="navbar-brand" href="#">
                <%= image_tag 'logoT.png' , height:75 %>
                </a>
                <li class="nav-item coolBeans spacing">
                  <a class="nav-link" href="#show">Home</a>
                </li>
                <li class="nav-item coolBeans spacing" id="people-li">
                  <%=link_to 'People', mainpage_people_path, class:"nav-link"%>
                </li>
                <li class="nav-item coolBeans spacing ">
                  <%=link_to 'Facilities', mainpage_facility_path, class:"nav-link"%>
                </li>
                <li class="nav-item coolBeans spacing ">
                  <%=link_to 'Users', mainpage_user_type_path, class:"nav-link"%>
                </li>
                <li class="nav-item coolBeans spacing ">
                  <%=link_to 'Gallery',mainpage_gallery_path,class:"nav-link"%>
                </li>
                <li class="nav-item coolBeans spacing">
                    <%=link_to 'Book Slot',new_user_session_path,class:"nav-link"%>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>



<div id="container">
          <div class="background-main" id="show">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="crf-heading" class="text-uppercase text-white fw-semibold display-1">
                        <h1 class="font-unbounded">Welcome to CRF NITK</h1>
                        </div>
                        <h3>A HEFA financed facility, <span style="color: orange;">dedicated to the service of the nation.</span></h3>
                        <div data-aos="fade-up" data-aos-delay="50">
                            <%= link_to "About CRF", mainpage_about_us_path ,class:"btn btn-brand me-2", id:"book" %>
                            <%=link_to 'Book Slot',new_user_session_path,class:"btn btn-light ms-2"%>
                        </div>
                    </div>
                </div>
            </div>
          </div>

            <% Announcement.all.each do |announce|%>
        <div id = "wrap">
        <div id="announce">
            <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div id="ann">
                <h2 class="font-unbounded">Announcements</h2>
            </div>
            <div id="btn-ann"><button type="button" class="btn btn-primary">Primary</button></div>
        </div>
        <div id = "inner-wrap">
          <div class="news-item">
                <div id="image-new">
                    <%=image_tag 'icons/megaphone',id:'news-img-tag', alt:"..." %>
                </div>
                <div id="image-text">
                    <span>12 May 2023</span>
                    <div class="spinner-grow spinner-grow-sm text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span>1 min read</span>
                    <%=link_to 'New Internships', mainpage_about_us_path, class:"heading-news"%>
                    <span id = "heading-news-display"></span>
                    <%=link_to 'New Internships are to be held this month in CRF. Pay for it and enjoy! We invite you to our facilty and ....',mainpage_about_us_path,  class:"news-text"%>
                </div>
          </div>
          <div class="news-item">
                <div id="image-new">
                    <%=image_tag 'icons/megaphone',id:'news-img-tag', alt:"..." %>
                </div>
                <div id="image-text">
                    <span>12 May 2023</span>
                    <div class="spinner-grow spinner-grow-sm text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span>1 min read</span>
                    <%=link_to 'New Internships', mainpage_about_us_path, class:"heading-news"%>
                    <%=link_to 'New Internships are to be held this month in CRF. Pay for it and enjoy! We invite you to our facilty and ....',mainpage_about_us_path,  class:"news-text"%>
                </div>
          </div>
          <div class="news-item">
                <div id="image-new">
                    <%=image_tag 'icons/megaphone',id:'news-img-tag', alt:"..." %>
                </div>
                <div id="image-text">
                    <span>12 May 2023</span>
                    <div class="spinner-grow spinner-grow-sm text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span>1 min read</span>
                    <%=link_to 'New Internships', mainpage_about_us_path, class:"heading-news"%>
                    <%=link_to 'New Internships are to be held this month in CRF. Pay for it and enjoy! We invite you to our facilty and ....',mainpage_about_us_path,  class:"news-text"%>
                </div>
          </div>
          <div class="news-item">
                <div id="image-new">
                    <%=image_tag 'icons/megaphone',id:'news-img-tag', alt:"..." %>
                </div>
                <div id="image-text">
                    <span>12 May 2023</span>
                    <div class="spinner-grow spinner-grow-sm text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span>1 min read</span>
                    <%=link_to 'New Internships', mainpage_about_us_path, class:"heading-news"%>
                    <%=link_to 'New Internships are to be held this month in CRF. Pay for it and enjoy! We invite you to our facilty and ....',mainpage_about_us_path,  class:"news-text"%>
                </div>
          </div>
          <div class="news-item">
                <div id="image-new">
                    <%=image_tag 'icons/megaphone',id:'news-img-tag', alt:"..." %>
                </div>
                <div id="image-text">
                    <span>12 May 2023</span>
                    <div class="spinner-grow spinner-grow-sm text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span>1 min read</span>
                    <%=link_to 'New Internships', mainpage_about_us_path, class:"heading-news"%>
                    <%=link_to 'New Internships are to be held this month in CRF. Pay for it and enjoy! We invite you to our facilty and ....',mainpage_about_us_path,  class:"news-text"%>
                </div>
          </div>
          <div class="news-item">
                <div id="image-new">
                    <%=image_tag 'icons/megaphone',id:'news-img-tag', alt:"..." %>
                </div>
                <div id="image-text">
                    <span>12 May 2023</span>
                    <div class="spinner-grow spinner-grow-sm text-info" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <span>1 min read</span>
                    <%=link_to 'New Internships', mainpage_about_us_path, class:"heading-news"%>
                    <%=link_to 'New Internships are to be held this month in CRF. Pay for it and enjoy! We invite you to our facilty and ....',mainpage_about_us_path,  class:"news-text"%>
                </div>
          </div>
        </div>
      
        </div>
        <%end%>


        






              <!-- info sections -->

                 <!-- announcement -->

                <div class='wrap'>
                    <h2 class="text-center font-unbounded py-3">Announcements</h2>
                    <div class="announcement">
                      <% Announcement.all.each do |announce|%>
                        <div class="card">
                            <h3 class="card__title"><%= announce.heading%>
                            </h3>
                            <p class="card__content"><%=announce.text%> </p>
                            <div class="card__date">
                                <%=announce.created_on%>
                            </div>
                            <div class="card__arrow">

                              <div id="<%= announce.id%>" class="modal">

                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Announcement: <%= announce.heading%><b></b></h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <%= announce.text%>

                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                                <div id="read">
                                    <%= button_tag "Read", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{announce.id}" }, id: "ani" %>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                                        <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                                        </path>
                                    </svg>
                                </div>
                            </div>

                        </div>





                        <%end%>
                              </div>
                    <!--the see all sectio of announcement has to be developed-->

                    <!--

                    <div id="btn-announcement-wrap">
                        <button id="btn-announcement">
                            See All
                        </button>
                    </div>

                    -->
              </div>

            <!-- announcement ends -->


            <!--info starts-->

            <div class="info-parent">
            <h2 id="facilities" class="text-center font-unbounded">Facilities</h2>
                <div class="info-children">
                    <div class="info-cards" id="child-1">
                        <div class="info-img" id="equip-img">
                            <%=image_tag 'main-img/laboratory' , height:90 %>
                        </div>
                        <div  id="equip-no">
                            <p class="">50+ World Class Equipments at your Service.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-2">
                        <div class="info-img" id="fund-img">
                            <%=image_tag 'main-img/research-and-development' , height:90 %>
                        </div>
                        <div id="funds">
                            <p class="">Annual Funding of Over 80+ crores.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-3">
                        <div class="info-img" id="floor-img">
                            <%=image_tag 'main-img/area' , height:90 %>
                        </div>
                        <div id="area">
                        <p class="">Over 11,000+ square metres of floor area with Best in Class Facilities.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- info ends -->


            <!-- vision section -->
            <div class="vision-parent">
                <div class="vision">
                    <div class="vision-img">
                        <%=image_tag 'main-img/vision.png' , height:165 %>
                    </div>
                    <div class="vision-text text-center">
                        <h2 id="vision-title" class="font-unbounded">VISION</h2>
                        <p class="text-center">"To become a Center of Excellence and an international hub for High-end Research, Characterization, Consultancy and Innovation"</p>
                    </div>
                </div>
            </div>


              <!-- vision end -->

              <!-- milestones  sections starts-->

              <div class="crf-stats">
            <div class="milestone-head">
                <h2 id="milestones" class="text-center font-unbounded">Milestones</h2>
            </div>
            <div class="equip-nos text-center">
                <h4 id="equip-value" style="--from: 0; --to: 100; --duration:5s;"></h4>
                <h4>Equipments</h4>
            </div>
            <div class="area text-center">
                <h4 id="area-value" style="--from: 0; --to: 10100; --duration: 5s;"></h4>
                <h4>Sq. Metres</h4>
            </div>
            <div id="projects" class="area text-center">
                <h4 >200+</h4>
                <h4>Projects</h4>
            </div>

              </div>

              <!-- milestones section ends -->

              <!--mission starts-->

            <div class="mission">
                <div class="mission-img">
                    <%=image_tag 'main-img/target.png' , height:165 %>
                </div>
                <div class="mission-text text-center">
                    <h2 id="mission-title" class="font-unbounded">Mission</h2>
                    <p class="mission-list">★ To establish as a regional hub for innovation and entrepreneurship</p>
                    <p class="mission-list">★ Highly skilled manpower generation to meet the requirements of the industry</p>
                    <p class="mission-list">★ Be counted amongst the top institutes at national and international level pursuing cutting-edge research</p>
                    <p class="mission-list">★ Cater to the requirements of industry and government organizations through testing and consultancy services</p></p>
                </div>
            </div>

            <!-- chairman's video section begins-->

              <h2 id="chairman-msg" class="font-unbounded text-center mt-3">Chairman's Message</h2>
            <div id="video">
                <div class="video-card" id="chairman-vid">
                    <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/NJZt0W0lYec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div id="more-info-video">
                    <p class="text-small text-center f-size">Explore our Youtube Channel</p>
                    <div id="btn-announcement-wrap">

                        <a href="https://www.youtube.com/@crfnitk6770/featured" id="btn-announcement" class= "btn-youtube" target=_blank>Explore</a>

                    </div>
                </div>
            </div>
              <!-- video section ends-->



              <!-- sneak-peek starts -->

              <div class="sneak mb-3">
             <h2 class="text-center font-unbounded">Snapshots</h2>

              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner mt-3">
                      <div id="snap">
                          <div class="carousel-item active">
                            <%=image_tag 'mainPageImg/FlagPhoto.png' , height:475 %>
                          </div>
                          <div class="carousel-item">
                            <%=image_tag 'mainPageImg/NITK4.jpg' , height:475 %>
                          </div>
                          <div class="carousel-item">
                            <%=image_tag 'mainPageImg/caro_new' , height:475 %>
                          </div>
                      </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon carousel-control" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon carousel-control" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

</div>




              <!-- sneak peek ends -->









          <!-- footer begins -->

          <%=render "partials/mainpage_footer" %>
      </div>
    <!-- footer ends -->




    <!-- js section starts -->

<!-- js for text-slider -->
<script>
    const observer=new IntersectionObserver((entries)=>{
entries.forEach((entry)=>{
    console.log(entry)
        if( entry.isIntersecting){
            entry.target.classList.add('show');
        }
        else{
            entry.target.classList.remove('show');
        }
            });
        });

    const hiddenElements = document.querySelectorAll('.mission-text');
    hiddenElements.forEach((el)=>observer.observe(el));

    const observer1=new IntersectionObserver((entries)=>{
    entries.forEach((entry)=>{
        console.log(entry)
    if( entry.isIntersecting){
        entry.target.classList.add('show');
    }
    else{
        entry.target.classList.remove('show');
    }
        });
    });

const hiddenElements1 = document.querySelectorAll('.vision-text');
hiddenElements1.forEach((el)=>observer.observe(el));
</script>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>






<!--This is added to make the page get scrolled to the "show" automatically div-->
<script>
window.onload = function() {
  // Get the position of the div
  let divPosition = document.getElementById("show").offsetTop;

  // Scroll to the div
  window.scrollTo(0, divPosition);
};
// Get the modals and buttons
var modal1 = document.getElementByClass("modal");
var btn1 = document.getElementById("ani");
// Add event listeners to the buttons
btn1.addEventListener("click", function() {
modal1.style.display = "block";
});

// Close the modal when the user clicks anywhere outside of it
window.addEventListener("click", function(event) {
if (event.target == modal1) {
modal1.style.display = "none";
}

});
</script>





