<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>



<div class="container">
    <div id="equipment-name">
      <h1>XRD</h1>
    </div>
    <div class='hero'>

      <%= form_with(model: xrd) do |form| %>
        <% if xrd.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(xrd.errors.count, "error") %> prohibited this xrd from being saved:</h2>

            <ul>
              <% xrd.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if @slot_type=="regular"%>
          <div class="input-group mb-3">
            <%= form.label :sample,"No of Samples", class:"input-group-text", for:"xrd-select-no-of-equipment"%>

            <%= form.select(:sample, [1, 2,3,4,5], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "xrd-select-no-of-equipment",:required => true}) %>
          </div>

        <%else%>
        <div id="instruct">
            <span class="input-group-text text-danger" id="basic-addon1">Express slot is available from <%=@equiplist_expressstart%> to <%=@equiplist_expressend%></span>
            <p class="text-danger"></p>
        </div>
        <div class="input-group mb-3">
          <%= form.label :expresssample,"No of Samples Express", class:"input-group-text", for:"xrd-select-no-of-equipment"%>
          <%= form.select :expresssample, options_for_select(1..@equiplist_expressslot[0]), prompt: "No. of available samples", class:"form-select" %>
        </div>
        <%end%>




          <div class="input-group mb-3">
          <%= form.label :measurement,"Measurement Required", class:"input-group-text", for:"measurement" %>
          <%= form.select(:measurement, ['Powered XRD', 'Residual Stress','Texture','GIXRD','SAXs WAXs'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "measurement",:required => true}) %>
        </div>


          <div class="input-group mb-3">
          <%= form.label :composition, " Sample Composition", class:"input-group-text",for:"composition"%>
          <%= form.text_field :composition, class:"form-control", id:"composition", placeholder:"(Ex: ZnO, GO)"%>
        </div>


        <div class="input-group mb-3">
          <%= form.label :stype, "Sample Type", class:"input-group-text", for:"sample-type" %>
          <%= form.select(:stype, ['Solid', 'Powder','Fabric/Polymer','Liquid Gel','Thin Film'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-type",:required => true}) %>
        </div>


          <div class="input-group mb-3">
          <%= form.label :mind, "Start Angle(2θ°)", class:"input-group-text", for:"mindegreeInput" %>
          <%= form.text_field :mind, class:"form-control", id:"mindegreeInput", placeholder:"Min 2"  %>
            <%= form.label :mind, "(2θ°)", class:"input-group-text", for:"mindegreeInput" %>
        </div>


        <div class="input-group mb-3">
          <%= form.label :maxd, "End Angle(2θ°)", class:"input-group-text", for:"maxdegreeInput" %>
          <%= form.text_field :maxd, class:"form-control", id:"maxdegreeInput", placeholder:"Max 140"%>
          <%= form.label :mind, "(2θ°)", class:"input-group-text", for:"maxdegreeInput" %>
        </div>



        <div class="input-group mb-3" id="ref-file">
          <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
          <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
        </div>



        <div class="input-group mb-3">
        <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
        <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
      </div>


        <div id="instruct">
            <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
        </div>


        <div class="input-group mb-3">
          <%= form.text_area :more, class:"form-control", id:"tell-us-more", placeholder:"Tell us more about testing requirement"%>
        </div>

        <div class="actions">
          <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
        </div>
      <% end %>


  </div>
</div>

<%=render "partials/footer" %>
