<%= stylesheet_link_tag "announcement"%>

<%= form_with(model: feedback) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form">
    <div class="field" >
    <%if @user!=nil%>
    <%= form.hidden_field :username, value:"#{@user.firstname} #{@user.lastname}"%>
    <%else%>
    <%= form.hidden_field :username, value:'anonymous'%>
    <%end%>
    </div>
    <div class="field">
      <%if @user!=nil%>
      <%= form.hidden_field :email, value:@user.email%>
      <%else%>
      <%= form.hidden_field :email, value:'anonymous@gmail.com'%>
      <%end%>
    </div>

    <div  class="input-group mb-3 mt-3">
      <%= form.label :feedback, class:'input-group-text', for:"feed" %>
      <%= form.text_area :feedback, class:"form-control", id:"feed"%>
    </div>

    <div class="input-group mb-3 mt-3">
      <%= form.submit "Create Feedback", class:"btn btn-primary", id:'sbt' %>
    </div>
  </div>
<% end %>
