<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'XRD Slotbooker', slotbooker_xrd_path, class:'navbar-brand', id:'title' %>

        <div id="tab-div">
          <div class="btn-group btn-profile dropstart">
            <%= link_to 'Pending Slots',slotbooker_xrd_path,class:"btn btn-outline-warning profile-dropdown" %>
            <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu font-quicksand">
              <li><%= link_to 'All Slots',slotbooker_xrd_path,class:"dropdown-item " %></li>
              <li><%= link_to 'Pending Slots',slotbooker_xrd1_path,class:"dropdown-item active"%></li>
              <li><%= link_to 'Alloted Slots',slotbooker_xrd2_path,class:"dropdown-item" %></li>
              <li><%= link_to 'Completed Slots',slotbooker_xrd3_path,class:"dropdown-item" %></li>
              <li><%= link_to 'Cancelled Slots',slotbooker_xrd4_path,class:"dropdown-item" %></li>

              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></li>
            </ul>
          </div>
        </div>


        <div class="collapse navbar-collapse tab" id="btn-head">
            <ul class="navbar-nav">
                <li class="nav-item-tab">
                    <%= link_to 'All Slots',slotbooker_xrd_path,class:"nav-link active dropdown-item" %>
                </li>
                <li class="nav-item-tab activated">
                    <%= link_to 'Pending Slots',slotbooker_xrd1_path,class:"nav-link active activated-text dropdown-item"%>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Alloted Slots',slotbooker_xrd2_path,class:"nav-link active dropdown-item" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Completed Slots',slotbooker_xrd3_path,class:"nav-link active dropdown-item" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Canceled Slots',slotbooker_xrd4_path,class:"nav-link active dropdown-item" %>
                </li>
            </ul>
        </div>


        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker-new">


<%# the content section is coded here %>
    <div id="slots">


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">Slot Type</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Measurement</th>
                        <th scope="col" id="composition">Composition</th>
                        <th scope="col" id="phase">Type</th>
                        <th scope="col" id="range">Range</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                        <th scope="col" id="assign-col">Assign</th>
                    </tr>
                </thead>
                <tbody>

                      <% @xrd.where(status:'pending').each do |xrds|%>

                      <% if xrds.expresssample == nil %>

                      <tr>
                        <th scope="row">CRF/XRD/<%=xrds.id%></th>

                        <td> <%= xrds.user.name%><nobr><%= xrds.user.lastname%></td>
                        <td> <%= xrds.user.orgname%> </td>
                        <td> <%= xrds.user.department%> </td>
                        <td> <%= xrds.user.contact%> </td>
                        <td><%if xrds.expresssample  != nil %> Express <%else%> Regular <%end%></td>
                        <td> <%= xrds.sample%> </td>
                        <td> <%= xrds.measurement%> </td>
                        <td> <%= xrds.composition%> </td>
                        <td> <%= xrds.stype%> </td>
                        <td> <%= xrds.mind%>° to <%= xrds.maxd%>°</td>
                        <td> <%= xrds.more%> </td>
                        <td><span style="white-space: nowrap;"><%= xrds.slotdate.strftime('%d-%m-%Y')if xrds.slotdate.present? %></td>
                        <td><%= xrds.slottime.strftime('%H:%M:%S') if xrds.slottime.present? %></td>
                          <td><%= xrds.status%></td>
                        <%if xrds.references.attached? %>
                      <td><%xrds.references.each do |file|%>
                         <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %>
                           <% end %></td>
                      <% else %>
                        <td>NA</td>
                      <% end %>
                       <td id="assign-btn">
                           <!-- Button trigger modal -->
                            <%= button_tag "Assign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{xrds.id}" }, id: "ani" %>
                            <div id="<%= xrds.id%>" class="modal">

                            <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Assignment to <b><%= xrds.user.name %></b></h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                       </div>
                                        <div class="modal-body">
                                          <%= form_with(model: xrds,local:true) do |form| %>

                                              <div class="input-group mb-3">
                                              <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                              <%= form.date_field :slotdate,value: Date.today.strftime('%Y-%m-%d'), class:"form-control", id:"composition",min: Date.today.strftime('%Y-%m-%d') %>
                                            </div>

                                            <div class="input-group mb-3">
                                            <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                            <%= form.time_field :slottime, class:"form-control", id:"composition"%>
                                          </div>

                                           <%=form.fields_for :equipment_table do |f| %>
                                                <%= f.hidden_field :app_no, value:"CRF/XRD/#{xrds.id}"%>
                                                <%= f.hidden_field :username, value:"#{xrds.user.firstname}"%>
                                                <%= f.hidden_field :dummy, value:"alloted"%>
                                                <%= f.hidden_field :debit_head, value:"#{xrds.debit}" %>
                                                <%= f.hidden_field :dept, value:"#{xrds.user.department}" %>
                                                <%= f.hidden_field :email, value:"#{xrds.user.email}" %>
                                                <%= f.hidden_field :role, value:"#{xrds.user.role}" %>
                                                <%= f.hidden_field :org, value:"#{xrds.user.orgaddress}" %>
                                                <%= f.hidden_field :profesion, value:"#{xrds.user.profession}" %>
                                                <%= f.hidden_field :orgname, value:"#{xrds.user.orgname}" %>
                                                <%= f.hidden_field :equipname, value:"xrd" %>
                                           <%end%>

                                            <div class="actions">
                                              <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>
                                            </div>
                                          <% end %>
                                        </div>
                                    </div>
                                </div>

                          </div>

                                                </td>

                        </tr>

                      <% else %>
                      <tr class = "exp-slot-entry">
                        <th scope="row">CRF/XRD/<%=xrds.id%></th>

                        <td> <%= xrds.user.name%><nobr><%= xrds.user.lastname%></td>
                        <td> <%= xrds.user.orgname%> </td>
                        <td> <%= xrds.user.department%> </td>
                        <td> <%= xrds.user.contact%> </td>
                        <td><%if xrds.expresssample  != nil %> Express <%else%> Regular <%end%></td>
                        <td> <%= xrds.sample%> </td>
                        <td> <%= xrds.measurement%> </td>
                        <td> <%= xrds.composition%> </td>
                        <td> <%= xrds.stype%> </td>
                        <td> <%= xrds.mind%>° to <%= xrds.maxd%>°</td>
                        <td> <%= xrds.more%> </td>
                        <td><span style="white-space: nowrap;"><%= xrds.slotdate.strftime('%d-%m-%Y')if xrds.slotdate.present? %></td>
                        <td><%= xrds.slottime.strftime('%H:%M:%S') if xrds.slottime.present? %></td>
                          <td><%= xrds.status%></td>
                        <%if xrds.references.attached? %>
                      <td><%xrds.references.each do |file|%>
                         <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %>
                           <% end %></td>
                      <% else %>
                        <td>NA</td>
                      <% end %>
                       <td id="assign-btn">
                           <!-- Button trigger modal -->
                            <%= button_tag "Assign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{xrds.id}" }, id: "ani" %>
                            <div id="<%= xrds.id%>" class="modal">

                            <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Assignment to <b><%= xrds.user.name %></b></h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                       </div>
                                        <div class="modal-body">
                                          <%= form_with(model: xrds,local:true) do |form| %>

                                              <div class="input-group mb-3">
                                              <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                              <%= form.date_field :slotdate,value: Date.today.strftime('%Y-%m-%d'), class:"form-control", id:"composition",min: Date.today.strftime('%Y-%m-%d') %>
                                            </div>

                                            <div class="input-group mb-3">
                                            <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                            <%= form.time_field :slottime, class:"form-control", id:"composition"%>
                                          </div>

                                           <%=form.fields_for :equipment_table do |f| %>
                                                <%= f.hidden_field :app_no, value:"CRF/XRD/#{xrds.id}"%>
                                                <%= f.hidden_field :username, value:"#{xrds.user.firstname}"%>
                                                <%= f.hidden_field :dummy, value:"alloted"%>
                                                <%= f.hidden_field :debit_head, value:"#{xrds.debit}" %>
                                                <%= f.hidden_field :dept, value:"#{xrds.user.department}" %>
                                                <%= f.hidden_field :email, value:"#{xrds.user.email}" %>
                                                <%= f.hidden_field :role, value:"#{xrds.user.role}" %>
                                                <%= f.hidden_field :org, value:"#{xrds.user.orgaddress}" %>
                                                <%= f.hidden_field :profesion, value:"#{xrds.user.profession}" %>
                                                <%= f.hidden_field :orgname, value:"#{xrds.user.orgname}" %>
                                                <%= f.hidden_field :equipname, value:"xrd" %>
                                           <%end%>

                                            <div class="actions">
                                              <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>
                                            </div>
                                          <% end %>
                                        </div>
                                    </div>
                                </div>

                          </div>

                                                </td>

                        </tr>
                          <%end%>
                          <%end%>

                                        </tbody>
                                    </table>

                                </div>
                                </div>


                            </div>


                          </div>
                          <script>
                          // Get the modals and buttons
                          var modal1 = document.getElementByClass("modal");
                          var btn1 = document.getElementById("ani");

                          // Add event listeners to the buttons
                          btn1.addEventListener("click", function() {
                            modal1.style.display = "block";
                          });

                          btn2.addEventListener("click", function() {
                            modal2.style.display = "block";
                          });

                          // Close the modal when the user clicks anywhere outside of it
                          window.addEventListener("click", function(event) {
                            if (event.target == modal1) {
                              modal1.style.display = "none";
                            }
                            if (event.target == modal2) {
                              modal2.style.display = "none";
                            }
                          });
                          </script>

    <button class="cssbuttons-io-button" id="scroll-left"> Left
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
        </div>
    </button>

    <button class="cssbuttons-io-button" id="scroll-right"> Right
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
        </div>
    </button>


<script>
    let left = document.getElementById('scroll-left');
    let right = document.getElementById('scroll-right');
    let slots = document.getElementById('slots');
    left.addEventListener("click", () => {
        console.log("hello")
        slots.scrollLeft -= 300;
    });
    right.addEventListener("click", () => {
        console.log("hello2")
        slots.scrollLeft += 300;
    });
</script>
