@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


html {
  height: 100%;
    
}
#home{
  background-color: aliceblue;
  padding-top:2px;
}

body {
  font-family: 'Staatliches', cursive;
  
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}
.team-squads{
  position: relative;  
  text-align:center;
  margin-bottom:50px;
  margin-top:50px;  
}

/*****/
.nav2 {
  position: relative;
  left: 1%;
  height: 10%;
  width: max-content;
}
.navbar2 {
  padding-top: 3%;
  padding-left: 3%;
}
.navbar2 li {
  position: relative;
  list-style: none;
  display:inline;
  margin-right: 1vw;

  font-size: 1.5rem;
}
.navbar2 li::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background: black;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease;
}
.navbar2 li:hover::after {
  transform: scaleX(1);
  transform-origin: left;

  box-shadow: 0px 4px 5px 2px rgba(0,0,0,.1);
}
.section2{
  background-color: rgb(209, 226, 242);
  padding-bottom: 0.1vw;
  padding-top: 0.1vw;
}
h1{
  font-size: 3em;
  font-family: "Unbounded";
}


/*****/
.header{
  /* position: absolute; */
  width: max-content;
  font-size: 2.5em;
  white-space: nowrap;
  text-decoration: underline;

  top: 25%;
  left: 7%;
}
.header::after {
  content:'';
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;

  background: black;
}


/*****/
.content {
  position: absolute;
  font-size: 2em;
  width: 40%;

  top: 45%;
  left: 7%;
}
.image {
  position: absolute;
  top: 0;
  right: 0;
  width: 53%;
  height: 100%;
  clip-path: polygon(35% 0%, 100% 0, 100% 100%, 8% 100%);
  
  background-repeat: no-repeat;
  background-size: cover;
}
#im1{
  width: 54%;
}
#im2{
  width: 40%;
}
#im3{
  width: 54%;
}
#im4{
  width: 54%;
}
#im5{
  width: 54%;
}
#im6{
  width: 45%;
}
#im7{
  width: 56%;
}
#im8{
  width: 54%;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}


@keyframes slide-out {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.wrapper1 {
  display: flex;

  position: relative;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:3%;
  margin-top:3%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  width: 45em;
  height: 25em;
  
  background: hsl(0,0%,95%);
  box-shadow: 1px 1px 25px 3px rgba(0,0,0,.3);
  
  
}

.wrapper2{
  position: relative;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:3%;
  margin-top:3%;
  top: 0 px;
  right: 0;
  bottom: 10;
  left: 0;

  width: 45em;
  height: 25em;

  background: hsl(0,0%,95%);
  box-shadow: 1px 1px 25px 3px rgba(0,0,0,.3);
  
    
}




.wrap{
  display: flex;
  width: 90%;
  margin: auto;
  background-color: aqua;
}
.text {
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 668px) {
  .wrapper1,
  .wrapper2 {
    
    height: 34vw;
    width:75vw;
  }
  .header{
    font-size: 2em;
    width: 50%;
    line-height:1.8;
  }
  .navli{
    font-size: 0.5em;
  }
  .content{
    font-size: 1.3em;
    line-height: 1.8;
  }

  
  
  
}
@media only screen and (min-width: 668px) and (max-width: 1024px) {
  .wrapper1, .wrapper2 {
    width:50vw;
    height:25vw;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    font-size: 1.8em;
    width: 40%


    
  }
  #im1{
    width: 60%;
  }
  
  .content {
    font-size: 1.5em;
    width: 60%;
   
    
  }
  .navbar li{
    font-size: 0.5em;
    top: 1%;
  }  
}
@media only screen and (max-width: 632px) {
  .wrapper1, .wrapper2 {
    width:70vw;
    height:25vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    font-size: 1em;
    width: 40%
 
  }
  .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 23px;
    
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .content {
    font-size: 0.8em;
    width: 60%;
   
    
  }
  .navbar li{
    font-size: 0.1em;
    top: 1%;
  }  
}

