.container {
    padding: 0;
    font-family: "Quicksand", "sans-serif";
}

.margin-top {
    margin-top: 4em;
 }  /*Added in turn to get a small amount of margin between knowmore content and image for some equipments*/

#equipment-name {
    display: flex;
    justify-content: center;
    width: 95%;
    font-family: "Unbounded", "sans-serif";
    background-color: #f9fdff;
    margin: 0 auto 0.3em auto;
    border-radius: 1em 1em 0 0;
    padding: 1em;
    
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.hero {
    background-color: #f9fdff;
    padding: 20px 40px;
    width: 95%;
    margin: 0 auto auto auto;
    border-radius: 0 0 15px 15px;
}

.hero-element {
    font-size: 1.5em;
    text-align: center;
}

.equipment-img-wrap {
    display: flex;
    justify-content: center;
    height: auto;
}

.equipment-img {
    width: 37em;
    border-radius: 1em;
}

.equipment-img-tag {
    border-radius: 1em;
    width: 37em;
}

.hero-element-text {
    text-align: justify;
}

#content {
    font-size: 18px;
    text-align: justify;
}

.data {
    margin: 0 0 0 0.5em;
}

.regular-charges {
    overflow-x: auto;
    overflow-y: hidden;
}

.express-charges {
    overflow-x: hidden;
    overflow-y: hidden;
}

#applications-div {
    margin: 0 0 0 1em;
}

.back-btn-forms {
    padding: 0.4em 3em;
}

.btn-outline-warning {
    --bs-btn-color: #3f5ac9;
    --bs-btn-border-color: #3f5ac9;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #3f5ac9;
    --bs-btn-hover-border-color: #3f5ac9;
}

@media only screen and (max-width: 912px) {
    .hero {
        width: 100%;
        padding: 20px 20px;
    }

    #equipment-name {
        width: 100%;
    }

    .equipment-img-wrap {
        height: auto;
        margin: 0 0 2em 0;
    }

    ul {
        padding: 0;
    }
}

/* font size of knowmore in main page reduced using this class */
.fs-smlr {
    font-size: 16px;
}