* {
  margin: 0%;
  padding: 0%;

}

.html{
  scroll-behavior: smooth;
}

body {
  background-color: #ddf1fb;
  font-family: "Quicksand", "sans-serif";
}

.font-unbounded {
  font-family: "Unbounded", 'cursive';
}

.font-quicksand {
  font-family: "Quicksand", "sans-serif";
}


/* navbar */

#navigation {
  font-family: "Quicksand", "sans-serif";
}


.nav-item {
  color: black;
  transition-duration: 0.5;
}

#logo-up {
  display: none;
}

.navlist {
  list-style: none;
  text-decoration: none;
  display: flex;
  font-family: "Quicksand", "sans-serif";
}
.spacing {
  margin: 1rem 1.5em;
}
.drop-div{
  background-color: #4c60d4;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
}
.nav-link-drop {
  padding: 0.3em;
}
.nav-link-drop:hover {
  background-color: #7e90f89f;
  border-radius: 0.5em;
}

/* .coolBeans {
  border-radius: 20px;
  color: rgb(249, 249, 249);
  font-family: "Quicksand", "sans-serif";
  font-size: 1rem;
  font-weight: 100;
  overflow: hidden;
  padding: 0.6em 1.5em;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  margin-left: 2.2em;
  margin-right: 2.2em;
}

.navbar-toggler {
padding: 1px 5px;
font-size: 18px;
line-height: 0.3;
background: #fff;
} */

#inner-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28em, 2fr));
}

#wrap {
  margin: 1em auto;
  width: 80%;
  background-color: rgb(255, 255, 255);
  min-height: 70vh;
  border-radius: 2em;
  position: relative;
  bottom: 5em;
}
.news-item {
  background-color: #f1f5f8;
  height: 10em;
  margin: 2em;
  border-radius: 1em;
}
.coolBeans {
  border-radius: 20px;
  color: rgb(249, 249, 249);
  font-family: "Quicksand", "sans-serif";
  font-size: 1rem;
  font-weight: 100;
  overflow: hidden;
  padding: 0.6em 1.5em;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
#announce {
  display: flex;
  align-items: center;
  margin-left: 1em;
}
#image-new {
  width: 30%;
  display: grid;
  place-items: center;
  background-color: #b6b5ff;
  border-radius: 0.5em;
  margin: 0.5em 0.8em 0.5em 0;
}
.news-item {
  display: flex;
  padding: 1em;
  height: auto;
  min-height: 10em;
}
#news-img-tag {
  width: 65%;
}
.heading-news {
  display: block!important;
  font-size: x-large!important;
}
.heading-news:hover, .news-text:hover {
  color: #3a9bc1;
}
#ann {
  width: 70%;
  padding: 1em;
}
#btn-ann {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

#image-text {
  width: 70%;
}

.coolBeans::after {
  background-color: #f9fdff;
  border-radius: 20px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, -100%) rotate(-45deg);
  transform-origin: top left;
  transition: 0.5s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
  will-change: transform;
}

.center {
  display: flex;
  justify-content: center;
}

/* navbar ends */

/* main-background image starts */

.background-main{
  /* position: relative; */
  /* text-align: center; */
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.597), rgba(0,0,0,0.597)) ,url(https://crf.nitk.ac.in/images/caro_new.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: aliceblue;
}

.crf-heading {
width:100%;
overflow:hidden;
margin: 2em;
}
.crf-heading {
animation: slide-left 1s;
}
#book {
  background-color: #ee9b00b0;
  color: white;
}

@keyframes slide-left {
from {
  margin-left: 100%;
  width: 300%;
}

to {
  margin-left: 0%;
  width: 100%;
}
}

/* .welcome{
  position: absolute;
  top: 40%;
  width: 100%;
} */

#crf-new{
  opacity: 40%;
  width: 100vw;
  /* height: 100vh; */
}


/* main-background image ends */

/* info starts */

.info-parent{
background-color: aliceblue;

}

.info-cards{
    margin: 2em;
    align-items: center;
    width: 33%;
    border-radius: 14px;
    border: 1.5px solid #3a9bc1;
    padding: 1em 1em;
    display: flex;
    background-color: rgb(255, 255, 255);
    text-align: justify;
    transition: linear 0.5s transform;
}

.info-cards:hover{
  box-shadow: 0 0 0 0px #676464;
    border-color: #b890f9;
    background-color: #e7e9ff;
}

.info-children{
  display: flex;
  justify-content: center;
}

.info-img{
  display: flex;
  justify-content: center;
  margin: 1em 1em 1em 0;
}

#facilities{
padding: 1em;
}


/* info ends */

/* vision starts */

  /* .vision-parent{
      margin: 2em;
      align-items: center;
      width: 33%;
  } */

  .vision{

      display: flex;
      height: 50vh;
      align-items: center;
      justify-content: center;
  }

  .vision-text{
      /* top:50% */
      width: 65%;
  }

  .vision-img{
     display: block;
     margin-left: auto;
     margin-right: auto;

  }

  #vision-title{
      margin: 0.7em 0 0.7em 0;
  }

   .vision-text{
      opacity: 0;
      filter: blur(5px);
      transform: translateY(-100%);
      transition: all 1s;
    }

     .show{
      opacity: 1;
      filter: blur(0);
      transform: translateY();
    }

    @media(prefers-reduced-motion){
      .vision-text{
          transition: none;
      }
    }

/* vision ends */

/* announcement */
/* this card is inspired form this - https://georgefrancis.dev/ */

.announcement {
  margin: auto;
  padding: 0em 2em 3em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(21em,1fr));
  place-items: center;
  grid-gap: 1em;
}

.wrap {
  background-color: white;
  padding: 0em 0 3em 0;
}

.card {
--border-radius: 0.75rem;
--primary-color: #7257fa;
--secondary-color: #3c3852;
width: 20em;
font-family: "Arial";
padding: 1rem;
cursor: pointer;
border-radius: var(--border-radius);
background: #fff;
box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
position: relative;
}

.card > * + * {
margin-top: 1.1em;
}

.card .card__content {
color: var(--secondary-color);
font-size: 0.86rem;
}

.card .card__title {
padding: 0;
font-size: 1.3rem;
font-weight: bold;
}

.card .card__date {
color: #6e6b80;
font-size: 0.8rem;
}

.card .card__arrow {
position: absolute;
background: var(--primary-color);
padding: 0.4rem;
border-top-left-radius: var(--border-radius);
border-bottom-right-radius: var(--border-radius);
bottom: 0;
right: 0;
transition: 0.2s;
display: flex;
justify-content: center;
align-items: center;
}

.card svg {
transition: 0.2s;
}

/* hover */
.card:hover .card__title {
color: var(--primary-color);
text-decoration: underline;
}

.card:hover .card__arrow {
background: #111;
}

.card:hover .card__arrow svg {
transform: translateX(3px);
}

#ani {
  background-color: #7257fa;
  border: 0 ;
}

.card:hover .card__arrow {
  background: #807bee;
}

/* announcement ends */



/* mission starts */
.mission{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  height: 60vh;

  background-color: aliceblue;
}



.mission-img{
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#mission-title{
  margin: 0.7em 0 0.7em 0;
}

.mission-text{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-20%);
  transition: all 1s;
  padding: 1.5em;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

@media(prefers-reduced-motion){
  .mission{
      transition: none;
  }
}

/* mission ends */

/* crf-stats starts */
.crf-stats{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  min-height: 30vh;
  box-shadow: inset 0 0 0 0 #ddf1fb;
  transition: color .5s ease-in-out, box-shadow .8s ease-in-out;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  background-color: whitesmoke;
  border-radius: 1em;
}

.crf-stats:hover {
  box-shadow: inset 100vw 0 0 0 #5b6367;
  color: rgb(243, 252, 253);
}

.crf-stats::hover{
  background-color: aliceblue;
}

.equip-nos{
  width: 50%;

}

.area{
  width: 50%;
}

#milestones{
  padding: 1.5em;
}

/* no. incrementation for equipments */
@property --n {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#equip-value {
  animation: animate var(--duration) forwards var(--timing, linear);
  counter-reset: num var(--n);
}
#equip-value::before {
  content: counter(num);
}

@keyframes animate {
  from {
    --n: var(--from);
  }
  to {
    --n: var(--to);
  }
}

@property --n {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

#area-value {
  animation: animate var(--duration) forwards var(--timing, linear);
  counter-reset: num var(--n);

}
#area-value::before {
  content: counter(num);
}

/* no. incrementation for area */
@keyframes animate {
  from {
    --n: var(--from);
  }
  to {
    --n: var(--to);
  }
}
/* crf-stats ends */

/* photo sections  starts */



/* photo section ends */

/* footer  */

footer{
  padding: 2%;
  background-color: #4c4b4e;
  color: #fff;
}

.footer-1{

 display: grid;
 grid-template-columns: repeat(4,minmax(10em,1fr));
 text-align: center;
}

.footer-img{
  place-items: center;
  background-color: aliceblue;
  border-radius: 0.5em;
  height: 100%;
  opacity: 35%;
  justify-content: center;
  padding: 2em;
  display: flex;
}

.footer-left{
 display: flex;
 flex-direction: row;
}

.footer-address{
margin-left: 5%;
text-align: left;
}

.footer-2{

text-align: center;
}

.social-icons{
word-spacing: 1%;
}

.fa{
padding: 2%;
font-size: 25px;
}


/* footer */

/* extra css */
.col-lg-6{
align-items: center;
padding: 2em;
}

a {
text-decoration: none;
color: var(--c-brand);
transition: var(--transition);
}

a:hover {
  color: var(--c-brand-light);
}

/*Styling of the view all button in announcment section*/
#btn-announcement {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #3d6aff;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#btn-announcement-wrap {
  display: flex;
  justify-content: center;
}
#btn-announcement:hover {
  background: rgb(61, 106, 255);
  color: #fbfcff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#btn-announcement:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

#btn-announcement::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}


#btn-announcement:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
/* Styling of button ends */


@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}




/* sneak styling */
.sneak {
  height: 100vh;
  background-color: #ffffff;
  margin: auto;
  width: 90%;
  border-radius: 1em;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  background-color: #3c3852;
  max-width: 70%;
  margin: auto;
}

.carousel-control {
  background-color: black;
  border-radius: 5px;
  padding: 25px;
}
/* sneak ends */




/* video section styling */

#video {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.9em;
  background-color: #ddf1fb;
}
.video-card {
  background-color: #ddf1fb;
  padding: 0em;
  border-radius: 1em;
}
#chairman-vid{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  padding: 1.2em;
  background-color: aliceblue;
}

#more-info-video {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  padding: 1em;
}
.btn-youtube {
    background-color: #ff0000ba !important;
    color: white !important;
    border-color: aliceblue !important;
}



/* video section styling ends */

/* extra css */
  .f-size{
    font-size: 0.9em;
  }
/* extra css ends */


/* media queries */
@media (max-width:992px) {

  .info-children{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .info-cards{
      width: 95%;
      border-radius: 1em;
  }

  .vision{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 70vh;
  }

  .vision-text{
    width: 95%;
}

  .mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 95vh;
  }

  .mission-list {
    text-align: justify;
  }

  #video {
    flex-direction: column;
  }
  #more-info-video  {
    width: 100%;
    padding: 1em;
  }

  .crf-stats{
      font-size: 45px;
      flex-direction: column;
      border-radius: 0%;
  }

  .milestone-head{
    margin: 1em;
  }

  .equip-nos{
    margin: 1em;
  }

  .area{
    margin: 1em;
  }

  #projetcs{
    margin: 1em;
  }

  .sneak {
    width: 100%;
  }

}
/* extra media */
@media only screen and (max-width: 990px) {

  #logo-down { /* hides lower img logo */
    display: none;
}

.spacing {
  margin: 0rem 0rem;
  /*edited to make navbar work right */
}
.nav-item {
  width: fit-content;
  /*edited to make navbar width right */
}
.container {
  flex-direction: column;
}
.crf-heading {
  margin: 0;
}

#guide-wrap {
  width: auto;
  margin-bottom: 2%;
}

#logo-up {  /*shows upper img logo*/
  display: inline-block;
}
.announcement {
  grid-template-columns: repeat(auto-fill,minmax(20em,1fr));
}
#login {
  width: 98%;
  margin: 2em 0 0 0;
}

.f-container {
  display: flex;
  flex-direction: column;
}

.left-child {
  width: auto;
  padding-left: 0%;
}

.f-text {
  width: 180px;
  padding: 0 0 25px 19px;
}

.middle-child {
  width: auto;
  justify-content: flex-start;
  margin: 0 0 0 56px;
}

.right-child {
  align-items: start;
  width: auto;
}
}


/* footer media queries  starts*/

@media screen and (max-width:990px) {

  footer{
    height: auto;
  }

  .footer-1{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    place-items: center ;
  }

  .footer-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto 5px auto;
  }

  .footer-left{
    display: grid;
    grid-template-columns: repeat(auto-fill,1fr);
    /* margin: 2%; */
  }

  .footer-address{
    margin: 2%;
    text-align: center;
  }

  .footer-middle{
    margin: 2%;
  }

  .footer-right{
    margin: 2%;
  }

  .footer-social{
    margin: 2%;
    width: 95%;
  }

}

/* footer media query ends */


@media (min-width: 990px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
}


/* button css for cfr web team strats */

#button{


  width: 10em;;
  height: 3em;
  padding: 0.5em;
  font-weight: bold;
  text-decoration: none;

  text-align: center;
  color: #141111;
  background: #f8f6f6;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #1e1919;
  border-radius: 10em;
  opacity: 80%;
}

#button:hover{

  border: 3px solid #0a0a0b;
  background: transparent;
  color: #fbfdfe;

  border: 3px solid #f6f7f8;
}

/* crf web team btn edns  */
