* {
    margin: 0%;
    padding: 0%;
}

.font-unbounded {
    font-family: "Unbounded", 'cursive';
}

.font-quicksand {
    font-family: "Quicksand", "sans-serif";
}

#title {
    padding: 0 0 0 1em;
    font-family: "unbounded", "sans-serif";
}

#tab-name {
    cursor: default;
    text-align: center;
}

/* Heading section */
.navbar {
    font-family: quicksand;
}

.navbar-nav {
    display: space-evenly;
    justify-content: space-around;

}

#admin-mail {
    padding-right: 1%;
}

#logout {
    margin-right: 9px;
}

#admin
{
  margin-right: 9px;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 0%;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr;
}

.container-payments {
    max-width: 100%;
    margin: auto;
    padding: 0%;
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr;
    background-color: #ddf1fb;
    font-family: "Quicksand", "sans-serif";
}

#manual-heading {
    display: flex;
    justify-content: center;
    width: 65%;
    font-family: "Unbounded", "sans-serif";
    background-color: #f9fdff;
    margin: 0 auto 0.3em auto;
    border-radius: 1em 1em 0 0;
}

#hero {
    background-color: #f9fdff;
    padding: 20px 40px;
    width: 70%;
    margin: 3em auto auto auto;
    border-radius: 15px;
}


/* NAvigation pane organized and styled */
#navigation {
    display: flex;
    flex-direction: column;
    /* background-color: #a9aaad; */
    min-width: 270px;
    font-family: "quicksand", sans-serif;
    padding: 15px;
    background-color: #f9fdff;
}

/* logo picture styled */
#navigation-logo {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

#logopic {
    height: 6.5em;
    background-color: #3f5ac966;
}

.sidelinks {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.sidelinks-list {
    list-style: none;
    padding: 2em 0 2em 0;
    margin: 1em 0 0 0;
    border-radius: 1em;
    transition-duration: 0.3s;
}

.sidelinks-list:hover {
    background-color: rgb(221, 241, 251);
}

.sidelinks-model-list {
    padding: 0 0;
    list-style: none;
    border-radius: 1em;
}

.sidelink-wrap {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5em;
    border-radius: 10px;
    font-size: smaller;
}

.sidelink-wrap {
    display: flex;
    align-items: center;
    padding: 0 0 0 1.5em;
    border-radius: 10px;
    font-size: smaller;
}

.sidelink-wrap:hover {
    background-color: #3f5bc9cc;
    color: #ffffff;
    transition-duration: 0.2s;
    text-decoration: none;
}

.sidelink-wrap-model:hover {
    background-color: #4b49ac59;
    text-decoration: none;
}

.hero-manual-entry {
    background-color: #f9fdff;
    padding: 1em 7em;
    width: 65%;
    margin: 0 auto auto auto;
    border-radius: 0 0 15px 15px;
}

ol,
ul {
    padding-left: 0rem;
}

/* icons of the navigation pane elements resized accordingly */
.sidelink-logo {
    width: 2em;
}

.sidelinks a {
    text-decoration: none;
    color: #1d40d2;
    margin: 10px;
    padding: 10px 10px;
    font-size: 1.15em;
}



.sidelinks-model-list>ul>li {
    padding-left: 0%;
}


#content {
    height: auto;
    font-family: "quicksand", sans-serif;
    background-color: #eae8ff;
}

#current-tab {
    padding: 1em 0 0 1em;
}


#mini-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 2fr));
    padding: 2em 0 0 2em;
}


.mini-card-icon {
    width: 5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #ffffff4d;
    border-radius: 1em;
    transition: 0.5s;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

.mini-card-icon:hover {
    transform: scale(1.02);
}

#stats {
    text-align: center;
}

#chart {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #eae8ff;
    flex-direction: column;
}

#myChart {
    width: 100%;
    max-width: 70em;
    display: block;
    background-color: #f9fdff;
    padding: 2em;
    border-radius: 2em;
}

/* the slots page element stylings are done below */
#slots {
    background-color: #ddf1fb;
    overflow-y: auto;
    overflow-x: auto;
}

.table-head {
    background-color: #3f5ac9;
    color: azure;
}


#btn-head {
  justify-content: space-evenly
}
#slot-details {
    text-align: center;
}

#active-tab {
    background-color: #3f5ac9;
    color: aliceblue;
}

#sbt {
    width: 100%;
    background-color: #157347;
}

#sbt-check {
    width: 100%;
    text-decoration: none;

}
/* toggler of navbar for internal external toggle */
#toggler {
    display: flex;
    padding-bottom: 1.5em;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    margin: 1em auto;
}

.btn-outline-primary {
    margin: 3px;
}

#mod {
    text-align: center;
}

#active {
    background-color: cornflowerblue;
    color: white;
}
/* toggler ends */


@media only screen and (max-width: 1430px) {
    #myChart {
        max-width: 55em;
    }
}

@media only screen and (max-width: 1110px) {
    #myChart {
        max-width: 40em;
    }
}

@media only screen and (max-width: 1110px) {
    .container {
        grid-template-columns: 1fr;
    }

    .sidelink-wrap {
        justify-content: center;
        padding: 0;
    }

    .sidelink-wrap-model {
        justify-content: center;
    }

    #myChart {
        max-width: 35em;
    }
}

@media only screen and (max-width: 626px) {
    #mini-cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18em, 0fr));
        justify-content: center;
        padding: 0%;
    }

    #myChart {
        max-width: 20em;
        padding: 0%;
    }
}

@media only screen and (max-width: 992px) {
    .container-slot-booker {
        display: flex;
        flex-direction: column;
    }
}
