<%= stylesheet_link_tag "adminportal" %>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand font-unbounded" href="#">CRF ADMIN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                               <%= link_to "Dashboard", mainportal_admindashboard_path ,class:"nav-link active nav-btn main-elements" %>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link active nav-btn main-elements" id='active-tab'>Statistics</a>
                            </li>
                            <li class="nav-item">
                              <%= link_to "Slots", mainportal_adminAllSlots_path ,class:"nav-link active nav-btn main-elements" %>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active nav-btn main-elements" id="model">Models</a>
                            </li>
                            <div id="model-list" class="vis">
                                <%= link_to "Users", mainportal_adminModelUsers_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Equipments", mainportal_adminModelEquip_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Payment", payment_payment_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Feedbacks", feedbacks_index_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Import", mainportal_importfile_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Express Slot", mainportal_adminExpress_path ,class:"nav-link active nav-btn model-element"  %>

                            </div>
                        </ul>

                </div>
                    <div>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" id="admin-mail">
                            <a class="nav-link" href="#">admin@mail</a>
                        </li>
                        <li class="nav-item" id="logout">
                        <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                        </li>
                    </ul>
                    </div>
                </div>


        </nav>
        <div class="container">
            <div id="stats">
                <h2 class="fw-bold">User Registration</h2>
            </div>

            <div>
                <div id="chart-1" class="mt-5 mb-3">

                    <!--Script tag to fetch data to the chart-->
                    <script type="text/javascript">
                        var internal = <%= @internal%>;
                        var external = <%= @external %>;
                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback(drawChart);

                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                                ['Internal', 'Hours per Day'],
                                ['NITK', internal],
                                ['External', external]
                            ]);

                            var options = {
                                title: 'Nitk v/s External'
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                            chart.draw(data, options);
                        }
                    </script>

                    <div id="piechart" style="width: 900px; height: 500px;"></div>
                </div>

                <div id="chart-2" class="mt-5 mb-3">

                    <!--Script tag to fetch data to the chart-->
                    <script type="text/javascript">
                      var ai_engineering = <%= @ai_engineering %>;
                      var chemical_engineering = <%= @chemical_engineering %>;
                      var chemistry = <%= @chemistry %>;
                      var civil_engineering = <%= @civil_engineering %>;
                      var cs_engineering = <%= @cs_engineering %>;
                      var ee_engineering = <%= @ee_engineering %>;
                      var ec_engineering = <%= @ec_engineering %>;
                      var it_engineering = <%= @it_engineering %>;
                      var mechanical_engineering = <%= @mechanical_engineering %>;
                      var mining_engineering = <%= @mining_engineering %>;
                      var metallurgical_engineering = <%= @metallurgical_engineering %>;
                      var physics = <%= @physics %>;
                      var water_resources_ocean_engineering = <%= @water_resources_ocean_engineering %>;

                        google.charts.load('current', {'packages':['corechart']});
                        google.charts.setOnLoadCallback(drawChart);

                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                                ['Internal', 'Hours per Day'],
                                ['AI Engineering', ai_engineering],
                                ['Chemical Engineering', chemical_engineering],
                                ['Chemistry', chemistry],
                                ['Civil Engineering', civil_engineering],
                                ['CS Engineering', cs_engineering],
                                ['EE Engineering', ee_engineering],
                                ['EC Engineering', ec_engineering],
                                ['IT Engineering', it_engineering],
                                ['Mechanical Engineering', mechanical_engineering],
                                ['Mining Engineering', mining_engineering],
                                ['Metallurgical Engineering', metallurgical_engineering],
                                ['Physics', physics],
                                ['Water Resources & Ocean Engineering', water_resources_ocean_engineering]


                            ]);

                            var options = {
                                title: 'Department-vise division'
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
                            chart.draw(data, options);
                        }
                    </script>

                    <div id="piechart2" style="width: 900px; height: 500px;"></div>
                </div>
            </div>
        </div>






<!--This script tag is added to add toggle feature to model button-->
<script>
    let model = document.getElementById('model');
    let modellist = document.getElementById('model-list');

    model.addEventListener('click', ()=> {
        modellist.classList.toggle('vis');
        modellist.classList.toggle('flex');
        model.classList.toggle('model-black');

    })
</script>
