<%= stylesheet_link_tag "adminportal" %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand font-unbounded" href="#">CRF CHAIRMAN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <%= link_to "Dashboard", mainportal_chairmanDashboard_path ,class:"nav-link active nav-btn main-elements" %>
                            </li>
                            <li class="nav-item">
                            <%= link_to "Statistics", mainportal_chairmanStats_path ,class:"nav-link active nav-btn main-elements" %>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active nav-btn main-elements" id="active-tab">Models</a>
                            </li>
                            <div id="model-list-active">
                                <%= link_to "Users", mainportal_chairmanUsers_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Equipments", mainportal_chairmanEquip_path ,class:"nav-link active nav-btn model-element", id:'active-tab-1' %>
                                <%= link_to "Payment", payment_payment_path ,class:"nav-link active nav-btn model-element" %>
                            </div>
                        </ul>

                </div>
                    <div>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" id="admin-mail">
                            <a class="nav-link" href="#">admin@mail</a>
                        </li>
                        <li class="nav-item" id="logout">
                        <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                        </li>
                    </ul>
                    </div>
                </div>


        </nav>



<div class="container">


 <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold" id="tab-name">Equipments</h2>
        </div>


        <div id="slot-details">

            <table class="table table-hover">
                <thead>
                    <tr class="bg-light">
                        <th scope="col" id="application-no">Equipment ID</th>
                        <th scope="col" id="name">Equipment Name</th>
                        <th scope="col" id="institute">Status</th>
                        <th scope="col" id="contact-no">Status Updated At</th>
                        <th scope="col" id="department">Calibration</th>
                        <th scope="col" id="sample-no">Calibration Info Updated At</th>


                    </tr>
                </thead>
                <tbody>
                  <% @equiplist.each do |equip|%>
                    <tr>
                        <th scope="row"><%=equip.id%></th>
                        <td><%= equip.name%>
                        </td>
                        <td id="assign-btn">
                            <!-- Button trigger modal -->
                             <%= button_tag equip.status, type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{equip.id}" }, id: "ani" %>

                             <div id="<%= equip.id%>" class="modal">
                             <div class="modal-dialog">
                                   <div class="modal-content">
                                     <div class="modal-header">
                                     <h1 class="modal-title fs-5" id="staticBackdropLabel">Change the Status of the <%= equip.name%></h1>
                                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                 </div>
                                 <div class="modal-body">

                                  <%= form_with model: equip do |f|%>
  <div class="form-group">
    <%# <%= f.label :status %>
    <%# <%= f.select :status, options_for_select([['Active', 'Active'], ['Under Maintenance', 'Under Maintenance'], ['Unavailable', 'Unavailable']]), {}, { class: 'form-control' } %>
 <div class="form-check">
    <%= f.radio_button :status,'Active',class:"form-check-input text-warning", type:"radio",id:"status-a" %>
    <%= f.label :status, 'Active',:value=>'Active', class:"form-check-label", for:"status-u" %>
    </div>
     <div class="form-check">
    <%= f.radio_button :status,'Under Maintenance',class:"form-check-input text-warning", type:"radio", id:"status-u" %>
    <%= f.label :status, 'Under Maintenance',:value=>'Under Maintenance', class:"form-check-label", for:"status-u" %>
</div>
     <div class="form-check text-secondary">
    <%= f.radio_button :status,'Unavailable',class:"form-check-input text-warning", type:"radio",id:"status-n" %>
    <%= f.label :status, 'Unavailable',:value=>'Unavailable', class:"form-check-label", for:"status-u" %>
</div>

                                          </div>
                                 <div class="modal-footer">
                                     <!-- <button type="button" class="btn btn-primary">Update</button> -->

                                   <%= f.submit 'Update', class: 'btn btn-primary' %>
                                 <% end %>
                                    </div>
                                 </div>
                                     </div>
                                 </div>

                           </div>
                        <td>90582655154</td>
                        <td><!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Calibrated
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Change the Status of the XRD</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="status" id="status-a" value="option1" checked>
                                            <label class="form-check-label text-success" for="status-a">
                                                Active
                                            </label>
                                        </div>
                                        <div class="form-check">
                                        <input class="form-check-input text-warning" type="radio" name="status" id="status-u" value="option2">
                                        <label class="form-check-label" for="status-u">
                                            Undermaintainance
                                        </label>
                                        </div>
                                        <div class="form-check text-secondary">
                                        <input class="form-check-input" type="radio" name="status" id="status-n" value="option3">
                                        <label class="form-check-label" for="status-n">
                                            Unavailable
                                        </label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Update</button>
                                </div>
                                </div>
                            </div>
                            </div>
                                    </td>
                        <td>90582655154</td>
                    </tr>
                    <%end%>
                </tbody>
            </table>

        </div>


    </div>


</div>


<script>
// Get the modals and buttons
var modal1 = document.getElementByClass("modal1");
var btn1 = document.getElementById("ani");

// Add event listeners to the buttons
btn1.addEventListener("click", function() {
  modal1.style.display = "block";
});
// Close the modal when the user clicks anywhere outside of it
window.addEventListener("click", function(event) {
  if (event.target == modal1) {
    modal1.style.display = "none";
  }
});
</script>
