<%= stylesheet_link_tag "adminportal" %>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand font-unbounded" href="#">CRF CHAIRMAN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active nav-btn main-elements" id='active-tab'>Dashboard</a>
                            </li>
                            <li class="nav-item">
                             <%= link_to "Statistics", mainportal_chairmanStats_path ,class:"nav-link active nav-btn main-elements" %>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active nav-btn main-elements" id="model">Models</a>
                            </li>
                            <div id="model-list" class="vis">
                                <%= link_to "Users", mainportal_chairmanUsers_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Equipments", mainportal_chairmanEquip_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Payment", payment_payment_path ,class:"nav-link active nav-btn model-element" %>
                            </div>
                        </ul>
                </div>

                    <div>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" id="admin-mail">
                            <a class="nav-link" href="#">admin@mail</a>
                        </li>
                        <li class="nav-item" id="logout">
                        <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                        </li>
                    </ul>
                    </div>
                </div>


        </nav>

      </nav>
<div class="container">


<%# the content section is coded here %>
  <div id="content">
      <div id="current-tab">
          <h2 class="fw-bold" id="tab-name">Dashboard</h2>
      </div>
      <%# the mini-cards coded here %>
      <div id="mini-cards">
          <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">Users</h5>
                  <div class="container">
                    <h6>Total Users: <%= @internal_user + @external_user%> </h6>
                    <h6>Internal Users: <%= @internal_user%></h6>
                    <h6>External Users: <%= @external_user%></h6>
                  </div>

              </div>
          </div>
          <div class="card text-bg-success mb-3" style="max-width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">Revenue</h5>
                  <div class="container">
                    <h6>Total Revenue: <%= @sum_internal + @sum_external%> </h6>
                    <h6>Internal Revenue: <%= @sum_internal%></h6>
                    <h6>External Revenue: <%= @sum_external%></h6>
                  </div>
              </div>
          </div>

          <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">Bookings</h5>
                  <div class="container">
                    <h6>Total Bookings: <%= @internal_booking_count + @external_booking_count%> </h6>
                    <h6>Internal User Bookings: <%= @internal_booking_count%></h6>
                    <h6>External User Bookings: <%= @external_booking_count%></h6>
                  </div>
              </div>
          </div>

          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">Equipments</h5>
                  <div class="container">
                    <h6>Total Equipments: <%= @active_equipments + @under_maintenance + @unavailable%></h6>
                    <h6>Active:  <%= @active_equipments%></h6>
                    <h6>Under Maintenance: <%= @under_maintenance%></h6>
                    <h6>Unavailable Maintenance: <%= @unavailable%></h6>
                  </div>
              </div>
          </div>
          <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">Express slots</h5>
                  <%=image_tag 'approval', class:"mini-card-icon" %>
              </div>
          </div>
      </div>

        <div id="chart" class="mt-5 mb-3">
          <div id="stats">
            <h2 class="fw-bold">Statistics for the day</h2>
          </div>

          <!--Script tag to fetch data to the chart-->
          <script type="text/javascript">
            var internal = <%= @internal_count%>;
            var external = <%= @external_count %>;

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawCharts);

            function drawCharts() {
              drawPieChart();
              drawBarChart();
            }

            function drawPieChart() {
              var data = google.visualization.arrayToDataTable([
                ['Internal', 'Number of bookings'],
                ['NITK', internal],
                ['External', external]
              ]);

              var options = {
                title: 'NITK v/s External Bookings',
                is3D: true,
                pieStartAngle: 100
              };

              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
              chart.draw(data, options);
            }

            function drawBarChart() {
              var sum_internal_day = <%= @sum_internal_day%>;
              var sum_external_day = <%= @sum_external_day %>;

              var data = new google.visualization.DataTable();
              data.addColumn('string', 'User');
              data.addColumn('number', 'revenue');
              data.addRows([
                ['NITK', sum_internal_day],
                ['External', sum_external_day]
              ]);

              var options = {
                title: 'NITK v/s External revenue Bar Graph',
                width: 800, // Increased width
                height: 400, // Increased height
                bar: {groupWidth: '50%'},
                legend: {position: 'none'}
              };

              var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
              chart.draw(data, options);
            }
          </script>


          <div class="row">
            <div class="col-md-6">
              <div id="piechart" style="width: 600px; height: 400px;"></div>
            </div>
            <div class="col-md-6">
              <div id="chart_div" style="width: 600px; height: 400px;"></div>
            </div>
          </div>

        </div>





<script>

    let model = document.getElementById('model');
    let modellist = document.getElementById('model-list');

    model.addEventListener('click', ()=> {
        modellist.classList.toggle('vis');
        modellist.classList.toggle('flex');
        model.classList.toggle('model-black');

    })
</script>
