<%= stylesheet_link_tag "adminportal" %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand font-unbounded" href="#">CRF CHAIRMAN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <%= link_to "Dashboard", mainportal_chairmanDashboard_path ,class:"nav-link active nav-btn main-elements" %>
                            </li>
                            <li class="nav-item">
                            <%= link_to "Statistics", mainportal_chairmanStats_path ,class:"nav-link active nav-btn main-elements" %>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active nav-btn main-elements" id="active-tab">Models</a>
                            </li>
                            <div id="model-list-active">
                                <%= link_to "Users", mainportal_chairmanUsers_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Equipments", mainportal_chairmanEquip_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Payment", mainportal_chairmanPayment_path ,class:"nav-link active nav-btn model-element", id:'active-tab-1' %>
                            </div>
                        </ul>

                </div>
                    <div>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" id="admin-mail">
                            <a class="nav-link" href="#">admin@mail</a>
                        </li>
                        <li class="nav-item" id="logout">
                        <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                        </li>
                    </ul>
                    </div>
                </div>


        </nav>
<div class="container">


<%# the content section is coded here %>
    <div id="content">
        <div id="current-tab">
            <h2 class="fw-bold" id="tab-name">Dashboard</h2>
        </div>
        <%# the mini-cards coded here %>
        <div id="mini-cards">
            <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Primary card title</h5>
                    <div id="icon-content">
                        <%=image_tag 'approval', class:"mini-card-icon" %>
                    </div>
                </div>
            </div>
            <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Primary card title</h5>
                    <%=image_tag 'approval', class:"mini-card-icon" %>
                </div>
            </div>
            <div class="card text-bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Primary card title</h5>
                    <%=image_tag 'approval', class:"mini-card-icon" %>
                </div>
            </div>
            <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Primary card title</h5>
                    <%=image_tag 'approval', class:"mini-card-icon" %>
                </div>
            </div>
            <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Primary card title</h5>
                    <%=image_tag 'approval', class:"mini-card-icon" %>
                </div>
            </div>
            <div class="card text-bg-info mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Primary card title</h5>
                    <%=image_tag 'approval', class:"mini-card-icon" %>
                </div>
            </div>
            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Primary card title</h5>
                    <%=image_tag 'approval', class:"mini-card-icon" %>
                </div>
            </div>
            <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Primary card title</h5>
                    <%=image_tag 'approval', class:"mini-card-icon" %>
                </div>
            </div>
        </div>

        <div id="chart" class="mt-5 mb-3">
            <div id="stats">
                <h2 class="fw-bold">Statistics</h2>
            </div>
                <canvas id="myChart" class="">  </canvas>

                <script>
                    function myFunction() {
                        var array=[]
                        for(let i=1; i<2; i++){
                            "<%@equipment=EquipmentTable.all.each do |equip|%> "
                            "<%end%>"
                        }
                    return array;
                    }
                    var xValues = myFunction();
                    var yValues = [55, 49, 44, 70, 65];
                    var barColors = [
                    "#b91d47",
                    "#00aba9",
                    "#2b5797",
                    "#e8c3b9",
                    "#1e7145"
                    ];

                    new Chart("myChart", {
                    type: "pie",
                    data: {
                        labels: xValues,
                        datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                        }]
                    },
                        options: {

                            title: {
                            display: true,
                            text: "World Wide Wine Production 2018",
                            plugins: {
                                legend: {
                                    labels: {
                                        // This more specific font property overrides the global property
                                        font: {
                                            size: 16
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    });
                </script>
        </div>

    </div>


</div>
