<%= stylesheet_link_tag "adminportal" %>

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand font-unbounded" href="#">CRF CHAIRMAN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <%= link_to "Dashboard", mainportal_chairmanDashboard_path ,class:"nav-link active nav-btn main-elements" %>
                            </li>
                            <li class="nav-item">
                            <%= link_to "Statistics", mainportal_chairmanStats_path ,class:"nav-link active nav-btn main-elements" %>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active nav-btn main-elements" id="active-tab">Models</a>
                            </li>
                            <div id="model-list-active">
                                <%= link_to "Users", mainportal_chairmanUsers_path ,class:"nav-link active nav-btn model-element", id:'active-tab-1' %>
                                <%= link_to "Equipments", mainportal_chairmanEquip_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Payment", payment_payment_path ,class:"nav-link active nav-btn model-element" %>
                            </div>
                        </ul>

                </div>
                    <div>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" id="admin-mail">
                            <a class="nav-link" href="#">admin@mail</a>
                        </li>
                        <li class="nav-item" id="logout">
                        <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                        </li>
                    </ul>
                    </div>
                </div>


        </nav>


<div class="container">


 <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold" id="tab-name">Users</h2>
        </div>

        <div id="slot-details">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-light">
                        <th scope="col" id="name">User Name</th>
                        <th scope="col" id="email">Email</th>
                        <th scope="col" id="contact">Contact</th>
                        <th scope="col" id="guide">Guide</th>
                        <th scope="col" id="course">Course</th>
                        <th scope="col" id="dept">Department</th>
                        <th scope="col" id="reg">Registered On</th>
                        <th scope="col" id="change">Change</th>
                        <th scope="col" id="status">Status</th>
                    </tr>
                </thead>
                <tbody>
                      <% @user.each do |user|%>
                    <tr>
                        <% @entry = user.status%>
                        <td><%=user.firstname%></td>
                        <td><%=user.email%></td>
                        <td><%=user.contact%></td>
                        <td><%="guide"%></td>
                        <td><%=user.course%></td>
                        <td><%=user.department%></td>
                        <td><%=user.created_at%></td>
                        <%= form_with url: mainportal_adminModelUsers_path do |form| %>
                        <% if user.status == "Active"%>
                        <%= form.hidden_field :entry , value:"Inactive" %>
                        <%end%>
                        <% if user.status == "Inactive"%>
                        <%= form.hidden_field :entry , value:"Active" %>
                        <%end%>
                        <% user.status = @entry %>
                        <td><%= form.submit "Update", class:"btn btn-outline-secondary", id:"update" %></td>
                        <td><%=user.status%></td>
                        <%end%>
                        <%end%>


                    </tr>
                </tbody>
            </table>
        </div>


<script>

    let model = document.getElementById('model');
    let modellist = document.getElementById('model-list');

    model.addEventListener('click', ()=> {
        modellist.classList.toggle('vis');
        modellist.classList.toggle('flex');
        model.classList.toggle('model-black');

    })
</script>
